.header {
  background: #0f172a;
  padding: 1rem 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: #e5e7eb;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
}

.nav a {
  color: #cbd5f5;
  margin-left: 1.5rem;
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover {
  color: #ffffff;
}
